ad
sdf
&test;

safsdf $data.testsdfasdf.sfsaf-132
sadf
${hello({})}
${hello({sf: 'tes{}t'} )}
${hello({test: tru e})}
$!{test}

$!hello

&test;

<div for="item in items" if="someCondi$test tion ${test}" style="background-color: red" for="color in colors" attrs="test">
    <h1>

    </h1>
</div>

<for each="color in colors">

</for>

<app-button>
    Test
</app-button>

<hello-world>
    test
</hello-world/>
